
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    // ViewData["Message"] ;
    // string? ViewDataMessage = ViewData["Message"] as string;
    // string? ViewBagMessage = ViewBag.Message;
}

<h1>All Employee</h1>

<br/>
<br/>

@* <div class="m-3 alert alert-danger">
    <p>@ViewData["Message"]</p>
</div> *@

@* <div class="m-3 alert alert-danger">
    <p>@ViewBag.Message </p>
</div> *@
@* 
<div class="m-3  alert-danger ">
    <p>@TempData["Message"]</p>
</div> *@

@if(!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="m-3  alert-danger ">
        <p>@TempData["Message"]</p>
    </div>
}

<form>
   <div class="container">
       <div class="row">
            <div class="col-6">
                <input placeholder="Search By Name" name="SearchInput" class="form-control" />
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-success" name="Search" />
            </div>
       </div>
   </div>
</form>
<br />
<br />
<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create Employee</a>

<br />
<br />

@if(Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>IsActive</th>
                <th>IsDelete</th>
                <th>HiringDate</th>
                <th>CreateAt</th>
                <th>Department</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Salary</td>
                    <td>@item.IsActive</td>
                    <td>@item.IsDelete</td>
                    <td>@item.HiringDate</td>
                    <td>@item.CreateAt</td>
                    @if(item.Department is null){
                        <td>No Department</td>
                    }else
                    {
                        <td>@item.Department.Name  </td>
                    }

                    <td>
                        <a asp-action="Detelis" asp-route-id="@item.Id " class="btn btn-warning">Details</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Update</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class=" btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
           


       
    </table>

}
else
{
   <div class="mt-4 alert alert-info">
       <h4>
           There are no Employee :( 
       </h4>
   </div>
}